
*.class

ftohbackend/.settings/
ftohbackend/.project
ftohbackend\.classpath
ftohbackend/.classpath
ftohbackend/target/
ftohbackend/bin/
ftohbackend/*.iml
ftohbackend/.idea/
ftohbackend/.mvn/


# Frontend (React + Vite)
villagecartfrontend/node_modules/
villagecartfrontend/dist/
villagecartfrontend/.env
villagecartfrontend/.DS_Store
.qodo

# Local Netlify folder
.netlify
