*.properties
*.class

/.settings/
/.project
/.classpath
/target/
/bin/
/*.iml
/.idea/
/.mvn/


# Frontend (React + Vite)
ftohfrontend/node_modules/
ftohfrontend/dist/
ftohfrontend/.env
ftohfrontend/.DS_Store